---

import DailyQuote from "../components/DailyQuote.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Newsletter from "../components/Newsletter.astro";
---

<Layout title="La frase diaria" 
description="Visualiza cada día la frase que te ayudará a inspirarte.">
  <main class="px-4">
    <Hero />
    <DailyQuote class="mb-14"/>

    <!-- <Newsletter />-->

  </main>
</Layout>
