---
import DailyQuote from '../components/DailyQuote.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="La frase diaria">
	<main>
	<DailyQuote></DailyQuote>

	</main>
</Layout>


