---
import { phrases } from "../data/frases";
---

<script>
  import { phrases } from "../data/frases";

  function obtenerFechaActual() {
    const hoy = new Date();
    const año = hoy.getFullYear();
    const mes = ("0" + (hoy.getMonth() + 1)).slice(-2);
    const dia = ("0" + hoy.getDate()).slice(-2);
    return `${año}-${mes}-${dia}`;
  }

  let indice = parseInt(localStorage.getItem("indiceFrase") ?? "0");
  let ultimaFecha = localStorage.getItem("ultimaFecha") || "";

  const fechaActual = obtenerFechaActual();

  if (fechaActual !== ultimaFecha) {
    if (ultimaFecha !== "") {
      indice = (indice + 1) % phrases.length;
    }

    localStorage.setItem("indiceFrase", indice.toString());
    localStorage.setItem("ultimaFecha", fechaActual);
  }

  const fraseDelDia = phrases[indice];

  const fraseDelDiaElement = document.getElementById("frase-del-dia");
  if (fraseDelDiaElement) {
    fraseDelDiaElement.innerText = fraseDelDia;
  }
</script>
<div class="flex justify-center items-center mt-14">
  <blockquote class="p-4 my-4 border-s-4 border-gray-300 font-semibold text-white/70 text-xl " id="frase-del-dia"></blockquote>

</div>
