<div class="flex justify-center items center mt-14">
    <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight  md:text-5xl lg:text-6xl text-white/70"> La frase inspiradora del día.</h1>
</div>